* {
    font-family: 'Avenir';
  }
  .bubbleWrapper {
      padding: 10px 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-self: flex-end;
    color: #fff;
  }
  .inlineContainer {
    display: inline-flex;
  }
  .inlineContainer.own {
    flex-direction: row-reverse;
  }
  .inlineIcon {
    color: grey;
  }
  .ownBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #5b5377;
      border-radius: 16px 16px 0 16px;
      border: 1px solid #443f56;
   
  }
  .otherBubble {
      min-width: 60px;
      max-width: 700px;
      padding: 14px 18px;
    margin: 6px 8px;
      background-color: #6C8EA4;
      border-radius: 16px 16px 16px 0;
      border: 1px solid #54788e;
    
  }
  .own {
      align-self: flex-end;
      color: #fff;
  }
  .other {
      align-self: flex-start;
      color: #fff;
  }
  span.own{
    font-size: 14px;
    color: grey;
    margin-left: 85%;
  }
  span.other{
    font-size: 14px;
    color: grey;
  }

  span.own-username{
    font-size: 16px;
    color: grey;
    margin-left: 85%;
  }

  span.other-username{
    font-size: 16px;
    color: grey;
    margin-left: -10%;
  }

  .chat {
    height: 600px;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 4px;
    box-sizing: border-box;
    overflow :scroll;
  }

  .chat::-webkit-scrollbar{
    display: none;
  }

  textarea {
    margin: auto;
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  body{
    background-image: url("RepetitivePattern.png");
  }

  .typechat {
    text-align: -webkit-center;
  }

  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }