<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{chat.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{channel.js}"></script>

    <title>Document</title>
</head>
<body onload="loadchat(userId, messages)">
	<h4  th:text="${channelName}"></h4>
<div class="chat" id="chat">
</div>
<div class = "typechat">
		<textarea class = "textarea" name="message" maxlength="200" placeholder="Type your message ..." id="message"></textarea><br>
		<input type="submit" value="Send" id="send-button" onclick="SendMessage()">
</div>
	<script th:inline="javascript">

    	var channelName = /*[[${channelName}]]*/ '';
		var channelId = /*[[${channelId}]]*/ '';
		var userName = /*[[${userName}]]*/ '';
		var userId = /*[[${userId}]]*/ '';
		var messages = /*[[${messages}]]*/ '';

    </script>
</body>
</html>