<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{main.js}"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body onload="load(channels);">
    <div id="mainDiv">
        <br>
    <h4>UserName:</h4>
    <h4  th:text="${userName}"></h4><br>
    <a href='newChannel' class="button">Create Channel</a>
    <br>
    <br>
    </div>
</body>

    <script th:inline="javascript">

    var channels = /*[[${channels}]]*/ '';

    </script>

</html>